.metronome-containter {
  height: 350px;
  width: 100%;
  background-image: linear-gradient(180deg, var(--grey), var(--dark-1));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  background-color: var(--purp);
  font-size: 3rem;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  box-shadow: var(--dark-1) 0px 8px 24px;
}

.button:hover {
  opacity: .90;
}

.startStop {
  font-size: 1rem;
}

.tempo-icon {
  cursor: pointer;
  padding: 10px;
}

.tempo-icon:hover {
  background-color: var(--grey);
  border-radius: 5px;
}