.app-container {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-1);
  height: 100vh;
  user-select: none;
}

.top-bar {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  width: 100%;
  top: 0;
  left: 0;
  text-align: right;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 30px;
}

.slidecontainer {
  width: 100%; 
  display: flex;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 25px;
  background: var(--grey);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: var(--purp);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--dark-1) 0px 8px 24px;
}

.content-init {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: flex-end;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: var(--purp);
  padding-left: 30px;
  padding-right: 30px;
  color: var(--dark-1);
  font-weight: 500;
}